// var dataMap={
//   0:'已处理',
//   1:'同意',
//   2:'拒绝'
// }
function formatStatus(status) {
  if(status==0){ return '未处理'}
  else if(status==1){ return '通过'}
  else if(status==2){return '拒绝'}

}
function getImgPath(paths){
  console.log(paths)
  if(paths){
    return paths.split(';')[0];
  }else{
    return '';
  }

}

module.exports = {
  formatStatus:formatStatus,
  getImgPath:getImgPath
}